/* Stylesheet for Stockal Assignment */

.stcl-product-img{
    box-shadow: 1px 1px 1px 1px lightblue;
    border-radius: 10px 10px 10px 10px ;
    height: 134px;
}
.stcl-product-cart-img{
    box-shadow: 1px 1px 1px 1px lightblue;
    border-radius: 10px 10px 10px 10px ;
    height: 300px;
}
.stcl-product-outer{
    /* box-shadow: 1px 1px 1px 1px lightgrey; */
    margin-bottom: 10% ;
    /* padding: 10px;
    height: 300px; */
}
.stcl-not-in-stock{
    cursor: not-allowed;
}
input:focus, select:focus{
    outline: none;
}
.stcl-title{
    color: #3db7ca;
}
.stcl-loader{
    background: url("../img/loader.gif") no-repeat center;
    height: 200px
}